@import './StyleGlobals';

.app-container {
    display: flex;
    flex-wrap: wrap;

    height: 100%;
}

.reviewing-container {
    padding: 4vw 5vw;
    width: 72vw;
    background: $off-white;

    @media only screen and (max-width: 1100px) {
        width: 100%;
        min-width: 100%;
    }
}
