@import './StyleGlobals';

.review-container {
    display: flex;
    flex-direction: column;

    h1 {
        color: #252525;
    }

    p {
        color: #242424;
        margin-top: 3.33vw;
    }
}

.input {
    display: flex;
}

.success, .no-success {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.11vw;

    p {
        margin: 0.55vw;
        margin-left: 1.11vw;
    }

    > svg {
        width: 2.72vw;
        height: 2.55vw;

        circle {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;

            animation: dash 8s linear forwards;
        }
    }
}

.success {
    > svg > circle {
        stroke: green;
    }
}

.no-success {
    > svg > circle {
        stroke: red;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

input[type="text"] {
    appearance: none;
    box-shadow: none;

    display: block;
    margin: 0;
    width: 56vw;

    font-family: sans-serif;
    font-size: 2vw;
    font-color: $off-white;
    padding: 1.66vw;

    border-radius: 0.55vw;
    border: solid 1px #dcdcdc;

    transition: box-shadow 0.3s, border 0.3s;

    @media only screen and (max-width: 1100px) {
        max-width: 55%;
    }

    &:focus {
        outline: none;
        border: solid 1px $matte-black;
    }
}

.button {
    border: none;
    cursor: pointer;
    outline: none;

    font-weight: 700;
    background: #cc4d1a;
    color: #fff;
    border-radius: 0.55vw;
    font-size: 2.22vw;
    padding: 1.66vw;
    width: 5.55vw;
    margin: 0 0.55vw;

    &:hover {
        background: #e2551d;
    }
}
