@import './StyleGlobals';

.review-container {
    display: flex;
    flex-direction: column;
    z-index: 200;
    margin-top: 60px;

    h1 {
        color: rgba(255, 255, 255, 1.000);
    }

    p {
        color: rgba(255, 255, 255, 1.000);
        margin-top: 3.33vw;
    }
}

.input {
    display: flex;
}

.success, .no-success {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.11vw;

    p {
        margin: 0.55vw;
        margin-top: 18px;
        margin-left: 1.11vw;
    }

    > svg {
        width: 2.72vw;
        height: 2.55vw;
        margin-left: -14px;

        circle {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;

            animation: dash 8s linear forwards;
        }
    }
}

.success {
    > svg > circle {
        stroke: green;
    }
}

.no-success {
    > svg > circle {
        stroke: red;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

input[type="text"] {
    appearance: none;
    box-shadow: none;

    display: block;
    margin: 0;
    width: 56vw;

    font-family: sans-serif;
    font-size: 40px;
    color: rgba(255, 255, 255, 1.000);

    border: transparent;
    background-color: transparent;
    caret-color: rgba(255, 255, 255, .6);

    @media only screen and (max-width: 1100px) {
        max-width: 55%;
    }

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: rgba(255, 255, 255, 1.000);
        opacity: .2;
    }
}

.button {
    cursor: pointer;
    outline: none;

    font-weight: 400;
    border: 1px solid black;
    background: transparent;
    color: rgba(255, 255, 255, 1.000);
    font-size: 24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: .2;

    &:hover {
        opacity: 1;
        transition: opacity .2s ease-in;
    }
}
