@import './StyleGlobals';

.sidebar {
    width: 250px;
    background: #cc4d1a;
    padding: 40px 50px;

    @media only screen and (max-width: 1100px) {
        flex-grow: 1;

        .chapter-selector {
            height: 100%;
        }

        .chapter-list {
            height: 60%;
            overflow-y: visible;
        }

        .start-container {
            bottom: 0;
        }
    }
}

.chapter-selector {
    margin: 0 auto;
    height: 85%;

    h2 {
        margin: 0;
        margin-bottom: 15px;
    }
}

.chapter-list, .multiple-selector, .start-container {
    display: flex;
    flex-wrap: wrap;
}

.start-container {
    height: 15%;
    min-height: 100px;
    align-items: center;
    padding-top: 10px;
}

.multiple-selector {
    flex-direction: column;
    margin-left: -4px;
}

.chapter-list {
    height: 80%;
    overflow-y: auto;
    margin-top: 20px;
    margin-left: -10px;
}

.multiple-selector > p {
    font-size: 12px;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 5px;
    cursor: pointer;
}

.chapter-number, .circle {
    border: solid 1px;
    cursor: pointer;
    margin: 10px;
}

.chapter-number {
    border-color: #fcfcfc;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    p {
        text-align: center;
        line-height: 60px;
        margin: 0;
        padding: 0;
    }

    &.selected {
        background-color: $off-white;

        p {
            color: $matte-black;
        }

        &:hover {
            background-color: #ededed;
        }
    }

    &:hover {
        background-color: #e2551d;
    }
}

.start-button {
    width: 100px;
    margin-left: auto;

    .circle {
        width: 60px; 
        height: 60px;
        border-radius: 50%;
        margin-left: 30px;

        border-top-color: $off-white;
        border-right-color: $off-white;
        border-bottom-color: $off-white;
        border-left-color: transparent;
    }

    p {
        font-size: 26px;
        margin: 0 0 0 -20px;
        line-height: 60px;
        padding: 0;
    }
}