@import './StyleGlobals';

.sidebar {
    width: 28vw;
    padding: 4vw 5vw;
    box-sizing: border-box;

    @media only screen and (max-width: 1100px) {
        width: 100%;
	}
}

.chapter-selector {
    margin: 0 auto;
    height: 85vh;
    box-sizing: border-box;

    h2 {
        margin: 0;
        margin-bottom: 15px;
    }

    @media only screen and (max-width: 1100px) {
        height: auto;
	}
}

.chapter-list, .start-container {
    display: flex;
    flex-direction: column;
    
    @media only screen and (max-width: 1100px) {
        flex-direction: row;
        flex-wrap: wrap;
	}
}

.start-container {
    height: 15%;
    min-height: 100px;
    padding-top: 10px;
    display: flex;
}

.multiple-selector {
    p {
        display: inline-block;
        font-size: 12px;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
        padding: 4px 7px;
    }
}

.chapter-list {
    height: 80%;
    overflow-y: auto;
    margin: 2vw -1vw 0 -1vw;
    box-sizing: border-box;
}

.chapter-number {
    border: solid 1px;
    cursor: pointer;
    margin: 0.5vw;
}

.chapter-number {
    border-color: #000000;
    border-radius: 20px;
    align-self: flex-start;
    padding: 15px 30px;

    p {
        text-align: center;
        font-size: 12px;
        font-family: Poppins;
        font-weight: 600;
        letter-spacing: 3px;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
    }

    &.selected {
        background-color: #020202;

        p {
            color: #dedede;
        }

        &:hover {
            background-color: #cecece;
            border-color: #cecece;

            p {
                color: #020202;
            }
        }
    }

    &:hover {
        background-color: #020202;
        border-color: #020202;

        p {
            color: #f9f9f9;
        }
    }
}

.start-button {
    p {
        display: inline-block;
        cursor: pointer;
        font-size: 26px;
        border-bottom: 1px solid black;
        padding-bottom: 4px;
        margin: 0;
        margin-top: 40px;
        margin-bottom: 10px;
    }
}