@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

$off-white: #f9f9f9;
$matte-black: #505050;

body, html {
    height: 100%;
    margin:0;
    padding:0;
    background: $off-white;
}

h1, h2, h3, h4, p {
    font-family: Roboto;
}

h1, h2, h3, p {
    color: $off-white;
}

h1 {
    font-size: 1.77vw;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 2.22vw;
}

h2 {
    font-size: 3.33vw;
    font-weight: 500;
}

h3 {
    text-align: right;
    font-weight: 500;
    font-size: 1.77vw;
    color: $off-white;
    text-decoration: underline;
}

h4 {
    font-family: Roboto;
    color: #242424;
    font-size: 3.111vw;
    font-weight: 900;
}

* {
    box-sizing:border-box;
}
